main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  max-width: 800px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

